{% extends "_layout" %}

{% block content %}
<div class="topBanner" style="background-image: url({{ siteUrl }}img/bg.jpg)">

</div>

{% for entry in craft.entries.section('projects').find() %}
<div class="container entry-content-div">
	<div class="entry-title">
		<h2>{{ entry.title }}</h2>
	</div>
	<div class="entry-text1">
		<p>{{ entry.text }}</p>
	</div>
	<div class="row">
		{% for image in entry.extraImages %}
		<div class="col-md-3 col-sm-3" style="background: url({{ image.url }}) no-repeat center cover;"></div>
		{% endfor %}
	</div>
	<div class="entry-text2">
		<p>{{ entry.bottomText }}</p>
	</div>
</div>
{% endfor %}

{% endblock %}