{% extends "_layout" %}

{% block content %}

<div class="topBanner" style="background-image: url({{ craft.Portfolio.cloudinaryEncode( entry.bannerImage, '500', siteUrl~'img/bg.jpg' ) }})">

</div>

{% for block in entry.updateMatrix %}
<div class="container entry-content-div">
	<div class="entry-title">
		<h2>{{ block.heading }}</h2>
	</div>
	<p style="text-decoration: underline">Date Posted: <i>{{ block.date }}</i></p>
	<div class="entry-text2">
		<p>{{ block.text }}</p>
	</div>
</div>
{% endfor %}

{% endblock %}