{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
<!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 about-me">
                    <h2 class="about-me-head"> {{  entry.aboutMeHeading }}</h2>
                    <p class="lead">{{ entry.aboutMeContent }}</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>{{ employmentHeading }}</h2>
                    <hr class="small">
                    <div class="row">
                    {% for block in entry.employmentLinks %}
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                {% if block.sortOrder == 1 %}<i class="fa fa-cloud fa-stack-1x text-primary"></i>
                                {% elseif block.sortOrder == 2 %}<i class="fa fa-cloud fa-stack-1x text-primary"></i>
                                {% elseif block.sortOrder == 3 %}<i class="fa fa-cloud fa-stack-1x text-primary"></i>
                                {% elseif block.sortOrder == 4 %}<i class="fa fa-cloud fa-stack-1x text-primary"></i>{% endif %}
                            </span>
                                <h4>
                                    <strong>{{ block.heading }}</strong>
                                </h4>
                                <p>{{ block.position }}</p>
                                <a href="{{ url('employment') }}" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Callout -->
    <aside  class="callout" data-top="background-position: 0px -100px" data-bottom="background-position: 0px 0px">
        <div class="text-vertical-center">
            <h1></h1>
        </div>
    </aside>

    <!-- Portfolio -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>My Projects</h2>
                    <hr class="small">
                    <div class="row">
                    {% for entry in craft.entries.section('projects').limit(4) %}
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="{{ entry.url }}">
                                    <div class="project-item" style="background-image: url('http://res.cloudinary.com/moin-qidwai-me/image/upload/w_460,h_300,c_fit/sample.jpg{{ entry.bannerImage[0].url }}');">
                                        <div class="text-vertical-center gray-overlay">
                                            <p class="project-item-text">{{ entry.title }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- /.row (nested) -->
                    <a href="#" class="btn btn-dark">View More Items</a>
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Call to Action -->
    <aside class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>{{ meetMeText }}</h3>
                    <a href="#" class="btn btn-lg btn-light">My Blog</a>
                    <a href="#" class="btn btn-lg btn-dark">Meet Me!</a>
                </div>
            </div>
        </div>
    </aside>

    <!-- Map -->
    <section id="contact" class="map">
        <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Sassoon%20Road%2C%20Pok%20Fu%20Lam%2C%20Hong%20Kong&key=AIzaSyCiBYxWKaaZkTbQMZAAweQAO2A-cVqQeQo"></iframe>
        <br />
        <small>
            <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
        </small>
        </iframe>
    </section>

{% endblock %}